@font-face {
  font-family: "futur2";
  src: url("./fonts/futur2.otf") format("opentype"),
    url("./fonts/futur2.ttf") format("truetype");
}

body {
  background-image: url("img/bg.jpg");
  background-size: cover;
  font-family: "futur2";
  /* background-color: #f5ea42; */
  color: #8e6897;
  margin: 0;
  padding: 0;
  font-size: 2.5vw;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

img {
  width: 35vw;
  cursor: pointer;
  border: 3px solid #f5ea42;
}

img:hover {
  border: 3px solid #fff;
}

a {
  color: #fff;
}

a:hover {
  color: #000;
}

.content {
  background-color: #f5ea42;
  text-align: center;
  border: 3px solid #f5ea42;
  width: 35vw;
  color: #fff;
}

nav {
  font-size: 1.5vw;
  padding: 5px 10px 10px 10px;
}

@media all and (min-width: 320px) and (max-width: 480px) {
  img {
    width: 90vw;
  }

  nav {
    font-size: 4vw;
    padding: 10px;
  }

  .content {
    width: 90vw;
  }
}

@media all and (min-width: 481px) and (max-width: 1024px) {
  img {
    width: 70vw;
  }

  nav {
    font-size: 3.5vw;
    padding: 10px;
  }

  .content {
    width: 70vw;
  }
}
