* {
  box-sizing: border-box;
  font-family: "futur2";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "futur2";
  src: url("./fonts/futur2.otf") format("opentype"),
    url("./fonts/futur2.ttf") format("truetype");
}

body {
  background-image: url("/img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.center {
  display: flex;
  /* align-items: center;
  justify-content: center; */
  padding: 1rem;
}

nav {
  padding: 1.5rem 1.5rem 0.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  height: 100vh;
}

nav a {
  font-size: 3.5rem;
  text-decoration: none;
  color: #fff;
}

nav a:hover {
  color: #c3b2c0;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo > img {
  width: 20vh;
}

.border {
  margin-bottom: 1.5rem;
  /* border: 1rem solid rgba(142, 104, 151, 0.5); */
  height: 90%;
  background-color: rgba(142, 104, 151, 0.5);
}

.center-left {
  width: 50%;
}

.center-left > img {
  width: 100%;
  max-width: 700px;
  padding: 1rem;
  object-fit: cover;
}

.center-right {
  padding: 1rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* @media all and (min-width: 320px) and (max-width: 480px) {
  img {
    width: 90vw;
  }

  nav {
    font-size: 4vw;
    padding: 10px;
  }

  .content {
    width: 90vw;
  }
}

@media all and (min-width: 481px) and (max-width: 1024px) {
  img {
    width: 70vw;
  }

  nav {
    font-size: 3.5vw;
    padding: 10px;
  }

  .content {
    width: 70vw;
  }
} */
