@font-face {
  font-family: "futur2";
  src: url("./fonts/futur2.otf") format("opentype"),
    url("./fonts/futur2.ttf") format("truetype");
}

body {
  background-image: url("bg.jpg");
  background-size: cover;
  font-family: "futur2";
  color: #8e6897;
  margin: 0;
  padding: 0;
}

.center {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
}

img {
  width: 35vw;
  cursor: pointer;
  border: 3px solid #8e6897;
}

img:hover {
  border: 3px solid #c3b2c0;
}

.content {
  background-color: rgb(255, 255, 255);
  text-align: center;
  border: 3px solid #8e6897;
  width: 35vw;
}

nav {
  padding: 1rem 1rem 0.4rem 1rem;
}

nav a {
  font-size: 2.5rem;
  text-decoration: none;
  color: #8e6897;
}

nav a:hover {
  color: #c3b2c0;
}

hr.line {
  border: 3px solid #8e6897;
  margin: 0;
}

#whitespace {
  background-color: #fff;
  width: 100%;
  text-align: center;
}

.slash {
  color: #000;
  font-size: 2rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  line-height: 2;
}

/* @media all and (min-width: 320px) and (max-width: 480px) {
  img {
    width: 90vw;
  }

  nav {
    font-size: 4vw;
    padding: 10px;
  }

  .content {
    width: 90vw;
  }
}

@media all and (min-width: 481px) and (max-width: 1024px) {
  img {
    width: 70vw;
  }

  nav {
    font-size: 3.5vw;
    padding: 10px;
  }

  .content {
    width: 70vw;
  }
} */
